*,
*::before,
*::after {
  box-sizing: border-box;
}

#root, html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    /* background: url(./assets/images/bg.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right bottom; */
}